{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello, World!</h1>
      <p><a href="/weather">Come and see your city's weather.</a></p>
    </div>
  </div>
</div>
{{end}}
